*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(206, 184, 153);
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-size: 100% auto;
}
.navegador{
    background-color:rgb(224, 208, 180);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Nunito Sans', sans-serif;
}
.navegador img{
    width: 165px;
}
.navegador a{
    list-style: none;
    text-decoration: none;
    color: rgb(83, 49, 10);
    font-size: 20px;
}
.navegador a:hover:not(:first-child){
    background-color: wheat;
    border-radius: 80px;
    color: black;
}
.navegador ol li{
    list-style: none;
}
main{
    font-family: 'Roboto Slab', serif;
}
/*Comienzo del contenido index*/
.carrusel{
    margin: 30px;
}
.contenedor{
    background-color: rgba(161, 126, 61, 0.705);
    margin-bottom: 20px;
    padding: 10px;
}
.intereses{
    justify-content: center;
}
.atractivos{
    background-color: rgb(243, 219, 182); 
    border-radius: 6px;
    width: 550px;
}
.atractivos img{
    max-width: 300px;
    width: 100%;
    border-radius: 10%;
}
.atractivos a{ 
    text-decoration: none;
    color: rgb(90, 50, 1);  
}
.atractivos a p:hover{
    color: rgb(90,50,1);
    background-color: white;
    border-radius: 40%;
}
/*Fin del contenido index*/
/*Comienzo del contenido catalogo*/
.scrollable-container {
    max-height: 650px; 
    overflow-y: auto; 
}
.fondo_texto{
    background-color: rgb(145, 121, 77);
    color: white;
}
.fondo_album{
    background-color: rgb(228, 211, 179);
}
.productos{
    background-color: rgb(202, 177, 133);
    border: 3px solid rgb(168, 147, 111);
}
.productos:hover {
    border: 3px solid white;
}
/*Fin del contenido catalogo*/
/*Comienzo del contenido quienessomos*/
.video{
    background-color: rgba(161, 126, 61, 0.705);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.video h2{
    color: rgb(104, 53, 12);
    padding: 15px;
    text-align: center;
}
/*Fin del contenido quienessomos*/
/*Comienzo del contenido pagina ubicanos*/
.base{
    background-color: rgba(161, 126, 61, 0.705);
    margin-top: 30px;
    margin-bottom: 30px;
}
.fondodemapa{
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      "direccion mapa"
      "contacto contacto";
  }
  .mapa {
    padding: 10px;
    height: 200px;
    background-color: bisque;
    grid-area: mapa;
    text-align: center;
}
.direccion { 
    color: rgb(104, 53, 12);
    padding: 10px;
    height: 200px;
    background-color: bisque;
    grid-area: direccion;
    text-align: center;
}
.contacto { 
    color: rgb(104, 53, 12);
    padding: 10px;
    height: 150px;
    background-color: bisque;
    grid-area: contacto; 
    text-align: center;
}
.contacto ul{
    list-style: none;
}  
.contacto li a{
    text-decoration: none;
    color: rgb(104, 53, 12);
}
.contacto li a:hover{
    color: rgb(255, 187, 0);
}
/*Fin del contenido ubicanos*/
/*Comienzo del contenido pagina contactanos*/
.contactos {  
    background-color:rgba(161, 126, 61, 0.705);
    margin-top: 30px;
    margin-bottom: 30px;
    height: 700px;
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "form direccion";
    align-items: center;
  } 
  .formulario { 
    height: 600px;
    grid-area: form; 
}
  .datos_contactos { 
    background-color: rgb(252, 227, 196);
    margin: 60px;
    margin-left:-80px;
    padding: 20px;
    height: 350px;
    grid-area: direccion;
    text-align: center;
}
.datos_contactos a{
    text-decoration: none;
    color: brown;
}
.datos_contactos a:hover{
    color: rgb(255, 187, 0);
}
  
/*Fin del contenido contactanos*/

/*footer*/
.piedepagina{
    background-color: rgb(194, 175, 141);
    padding: 15px;
    font-family: 'Roboto Slab', serif;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 0.3fr 0.3fr; 
    gap: 2px; 
    grid-template-areas: 
      "nombre volver"
      "correo redes"
      "derechos derechos"; 
  }
.nombre { 
    grid-area: nombre; 
}
.correo { 
    grid-area: correo; 
}
.correo a{
    text-decoration: none;
    color: brown;
}
.correo a:hover{
    color: rgb(255, 187, 0);
}
.derechos { 
    grid-area: derechos; 
    text-align: center;
}
.redes { 
    grid-area: redes; 
} 
.redes p{
    color: rgb(104, 53, 12);
}
.volver { 
    grid-area: volver; 
    text-align: end;
    color: rgb(104, 53, 12);
}
.icons {
    color: rgb(104, 53, 12);
    text-decoration: none;
    margin: 0 10px;
}
.icons:hover{
    color: rgb(255, 198, 11);
}

/* Estilos para pantallas más pequeñas (mobile) */
@media (max-width: 768px) {
    .navegador{
        height: auto;
        flex-direction: column;
        align-items: flex-center;
        background-color: rgb(224, 208, 180);
    }
    .navegador:not(:first-child){
        align-items: flex-end;
    }
    .navegador img{
        width: 120px;
    }
    .navegador a{
        font-size: 16px;
    }
    /*index*/
    .sale{
        font-size: 18px;
    }
    .cotizar{
        font-size: 18px;
    }
    /*Catalogo*/

    /*footer*/
    footer {
        height: auto;
    }
    .pfooter {
        padding-top: 5px; /* Ajusta el espacio superior del texto de derechos de autor */
        font-size: 12px;
    }
    .icons {
        margin: 5px; /* Reduce el margen entre los íconos */
        font-size: 18px;
    }
    .volver {
        font-size: 14px;
    }
    .psocial {
        font-size: 14px; 
    }
}