@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(to top, #e9a06f, white, #fcb687); }

header .navegador {
  font-family: "Nanum Gothic", sans-serif; }
  header .navegador .logo {
    width: 165px;
    margin-left: 20px; }
  header .navegador .boton_inicio {
    background-color: #ff8b56;
    border-radius: 10%;
    text-decoration: none;
    color: white; }
  header .navegador a {
    color: #5a3201;
    font-size: 20px; }
    header .navegador a:not(.logo):hover {
      background-color: #ffd4b8;
      border-radius: 10%;
      color: black; }
  header .navegador .boton_carrito {
    border-color: #ff5100;
    color: #ff5100; }

main {
  font-family: "Roboto Slab", serif; }
  main .divider {
    border-top: 3px solid white; }

.piedepagina {
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  gap: 2px;
  grid-template-areas: "nombre volver" "correo redes" "derechos derechos"; }
  .piedepagina .nombre {
    grid-area: nombre; }
  .piedepagina .correo {
    grid-area: correo; }
    .piedepagina .correo a {
      text-decoration: none;
      color: brown; }
      .piedepagina .correo a:hover {
        color: #ffbb00; }
  .piedepagina .derechos {
    grid-area: derechos;
    text-align: center; }
  .piedepagina .redes {
    grid-area: redes; }
    .piedepagina .redes p {
      color: #5a3201; }
  .piedepagina .volver {
    grid-area: volver;
    text-align: end;
    color: #5a3201; }
  .piedepagina .icons {
    color: #5a3201;
    text-decoration: none;
    margin: 0 10px; }
    .piedepagina .icons:hover {
      color: #ffbb00; }

main {
  font-family: "Roboto Slab", serif; }
  main .carrusel {
    margin: 20px; }
  main .product-section {
    display: flex;
    justify-content: space-between;
    padding: 50px; }
    main .product-section .product-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      background-color: #fddeb8; }
      main .product-section .product-content img {
        max-width: 180px;
        width: 100%;
        height: auto;
        border: 2px solid white;
        border-radius: 20%; }
        main .product-section .product-content img:hover {
          border: 3px solid #cfa169; }
      main .product-section .product-content p {
        margin: 20px 0;
        font-size: 18px; }
  main .contenedor {
    margin: 10px; }
    main .contenedor .intereses {
      justify-content: center; }
      main .contenedor .intereses .atractivos {
        background-color: #fddeb8;
        border-radius: 6px;
        width: 550px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
        main .contenedor .intereses .atractivos img {
          max-width: 300px;
          width: 100%;
          border-radius: 10%; }
        main .contenedor .intereses .atractivos a {
          text-decoration: none;
          color: #5a3201; }
          main .contenedor .intereses .atractivos a p:hover {
            color: #ffbb00; }

main .header_cat {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  main .header_cat .textos {
    color: #5a3201; }

main .productos {
  background: linear-gradient(to top, #ffcead, white);
  border: 3px solid #917f60;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease; }
  main .productos:hover {
    border: 3px solid #ff7044;
    transform: scale(1.1, 1.1); }
  main .productos .joyas {
    object-fit: cover;
    height: 350px;
    width: 100%; }

main .sale {
  background: linear-gradient(to top, #ff9f5f, white);
  border: 3px solid #ff3c00;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in; }
  main .sale:hover {
    border: 3px solid #fffbfa;
    transform: scale(1.1, 1.1); }
  main .sale .joyas {
    object-fit: cover; }

main {
  font-family: "Roboto Slab", serif; }
  main .tarjetas {
    border: 2px solid #ff8f45;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  main .tarjetas_color {
    background-color: #ff8f45;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }

main .fondodemapa {
  margin-top: 40px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas: "direccion mapa" "contacto contacto"; }
  main .fondodemapa .direccion {
    color: #5a3201;
    padding: 30px;
    height: auto;
    background-color: #fddeb8;
    grid-area: direccion;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  main .fondodemapa .mapa {
    padding: 10px;
    height: auto;
    background-color: #fddeb8;
    grid-area: mapa;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
  main .fondodemapa .contacto {
    color: #5a3201;
    padding: 20px;
    height: auto;
    background-color: #fddeb8;
    grid-area: contacto;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
    main .fondodemapa .contacto ul {
      list-style: none; }
      main .fondodemapa .contacto ul li a {
        text-decoration: none;
        color: #5a3201; }
        main .fondodemapa .contacto ul li a:hover {
          color: #ffbb00; }

main .contactos {
  margin-bottom: 30px; }
  main .contactos .borde_form {
    border: 3px solid #ff8f45;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
    main .contactos .borde_form .titulo_form {
      background-color: #ff8f45; }

main .datos_contactos {
  background-color: #fddeb8;
  margin: 60px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "h3" "p" "numero" "iframe"; }
  main .datos_contactos a {
    text-decoration: none;
    color: brown; }
    main .datos_contactos a:hover {
      color: #ffbb00; }
  main .datos_contactos .h3 {
    grid-area: h3; }
  main .datos_contactos .p {
    grid-area: p; }
  main .datos_contactos .numero {
    grid-area: numero; }
  main .datos_contactos .iframe {
    grid-area: iframe; }

/* Estilos para pantallas más pequeñas (mobile) */
@media (max-width: 768px) {
  .navegador {
    background-color: #ffb482; }
    .navegador .logo {
      max-width: 130px;
      width: 100%; }
  /*index*/
  .product-section {
    flex-direction: column;
    padding: 10px; }
    .product-section .product-content {
      margin: 5px;
      border-radius: 2.5%; }
  .atractivos {
    font-size: 18px; }
  /*catalogo*/
  .header_cat {
    background-color: #fddeb8; }
  /*ubicanos*/
  #fondodemapa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: "direccion" "mapa" "contacto"; }
  /*footer*/
  .piedepagina {
    height: auto; }
    .piedepagina .icons {
      margin: 5px;
      /* Reduce el margen entre los íconos */
      font-size: 18px; }
    .piedepagina .volver {
      font-size: 14px; }
    .piedepagina .psocial {
      font-size: 14px; } }
