main{
    .header_cat{
        box-shadow: $sombra;
        .textos{
            color: $color_textos;
        }
    }
    .productos{
        background:  linear-gradient(to top,  rgb(255, 206, 173), white);
        border: 3px solid rgb(145, 127, 96);
        box-shadow: $sombra;
        &:hover{
            border: 3px solid rgb(255, 112, 68);
        }
        .joyas{
            object-fit: cover;
        }
    }
    .sale{
        background:  linear-gradient(to top,  rgb(255, 159, 95), white);
        border: 3px solid rgb(255, 60, 0);
        box-shadow: $sombra;
        &:hover{
            border: 3px solid rgb(255, 251, 250);
        }
        .joyas{
            object-fit: cover;
        }
    }
}