main{
    .contactos {  
        margin-bottom: 30px;
        .borde_form{
            border: 3px solid  #ff8f45;
            box-shadow: $sombra;
            .titulo_form{
                background-color:  #ff8f45;
            }
        }   
    }
    .datos_contactos { 
        background-color: $color_cajas;
        margin: 60px;
        padding: 20px;
        text-align: center; 
        box-shadow: $sombra;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "h3"
            "p"
            "numero"
            "iframe";
        a{
            text-decoration: none;
            color: brown;
            &:hover{
                color: $resaltador;
            }
        }
        .h3{
            grid-area: h3;
        }
        .p{
            grid-area: p;
        }          
        .numero{
            grid-area: numero;
        }
        .iframe{
            grid-area: iframe;
        }
    } 
}