main{
    .contactos {  
        margin-bottom: 30px;
        .borde_form{
            border: 3px solid  $borde_card;
            box-shadow: $sombra;
            .titulo_form{
                background-color: $borde_card;
            }
        }   
    }
    .fondodemapa{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        grid-template-areas:
          "direccion mapa"
          "contacto contacto";
        .direccion { 
            color: $color_textos;
            padding: 30px;
            height: auto;
            background-color: $color_cajas;
            grid-area: direccion;
            text-align: center;
            box-shadow: $sombra;
        }
        .mapa {
            padding: 10px;
            height: auto;
            background-color: $color_cajas;
            grid-area: mapa;
            text-align: center;
            box-shadow: $sombra;
        }
        .contacto { 
            color: $color_textos;
            padding: 20px;
            height: auto;
            background-color: $color_cajas;
            grid-area: contacto; 
            text-align: center;
            box-shadow: $sombra;
            ul{
                list-style: none;
                li a{
                    text-decoration: none;
                    color: $color_textos;
                    &:hover{
                        color: $resaltador;
                    }
                }
            }
        }
    }
}