/* Estilos para pantallas más pequeñas (mobile) */
@media (max-width: 768px) {
    .navegador{
        background-color:  rgb(255, 180, 130);
        .logo{
            max-width: 130px;
            width: 100%;
        }
    }
    /*index*/
    .product-section{
        flex-direction: column;
        padding: 10px;
        .product-content{
            margin: 5px;
            border-radius: 2.5%;
        }
    }
    .atractivos{
        font-size: 18px;
    }
    /*catalogo*/
    .header_cat{
        background-color: $color_cajas;
    }
    /*ubicanos*/
    #fondodemapa{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "direccion"
            "mapa"
            "contacto";
    }
    /*footer*/
    .piedepagina{
        height: auto;
        .icons {
            margin: 5px; /* Reduce el margen entre los íconos */
            font-size: 18px;
        }
        .volver {
            font-size: 14px;
        }
        .psocial {
            font-size: 14px; 
        }
    }

}
