main{
    font-family: $font2;
    .carrusel{
        margin: 20px;
    }

    .product-section{
        display: flex;
        justify-content: space-between;
        padding: 50px;
        .product-content{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 10px;
            box-shadow: $sombra;
            background-color: $color_cajas;
            img{
                max-width: 180px;
                width: 100%;
                height: auto;
                border: 2px solid white;
                border-radius: 20%;
                &:hover{
                    border: 3px solid  rgb(207, 161, 105);
                }
            }
            p{
                margin: 20px 0;
                font-size: 18px;
            }
        }
    }
    .contenedor{
        margin: 10px;
        .intereses{
            justify-content: center;
            .atractivos{
                background-color: $color_cajas;
                border-radius: 6px;
                width: 550px;
                box-shadow: $sombra;
                img{
                    max-width: 300px;
                    width: 100%;
                    border-radius: 10%;
                }
                a{
                    text-decoration: none;
                    color: $color_textos;
                    p{
                        &:hover{
                            background-color: white;
                            border-radius: 40%;
                        }
                    }
                }
            }
        }
    }
}