main{
    font-family: $font2;
    .carrusel{
        border-radius: 2%;
        box-shadow: $sombra;
    }
    .margen{
        margin: 20px;
    }

    .productos-seccion{
        display: flex;
        max-width: 1400px;
        margin: 0;
        gap: 2rem;
        padding: 25px;
        .productos-contenido{
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 20px;
            box-shadow: $sombra;
            background-color: $color_cajas;
            img{
                max-width: 180px;
                width: 100%;
                height: auto;
                border: 2px solid white;
                border-radius: 20%;
                &:hover{
                    border: 3px solid  rgb(207, 161, 105);
                }
            }
            h4{
                margin: 10px;
                width: 300px;
                font-size: 18px;
            }
        }
    }
    .contenedor{
        margin: 10px;
        .intereses{
            justify-content: center;
            .atractivos{
                background-color: $color_cajas;
                border-radius: 6px;
                width: 550px;
                box-shadow: $sombra;
                img{
                    max-width: 300px;
                    width: 100%;
                    border-radius: 10%;
                }
                a{
                    text-decoration: none;
                    color: $color_textos;
                    p{
                        &:hover{
                            color: $resaltador;
                        }
                    }
                }
            }
        }
    }
}