main{
    font-family: $font2;
    overflow-x: hidden;
    .fondo{
        background-image: url(../img/qsomos/fondo3.jpg);
        object-fit: cover;
        margin: 20px;
        color: $color_textos;
        box-shadow: $sombra;
        h1{
            color: $color_cards;
        }
        a{
            color: $color_textos;
        }
    }
    .clientes{
        background-color: $color_cajas;
        border-radius: 10%;
        box-shadow: $sombra;
        .quote{
            color: $borde_card;
        }
        .foco{
            width: 100%;
            max-width: 300px;
            object-fit: contain;
        }
    }      
}