main{
    font-family: $font2;
    .textos{
        color: $color_textos;
        padding: 20px;
    }
    .tarjetas{
        border: 2px solid $borde_card;
        box-shadow: $sombra;
    }
    .tarjetas_color{
        background-color: $borde_card;
        box-shadow: $sombra;
        padding: 20px;
        .frases{
            color: white;
            text-align: end;
        }
    }
}