$color_cajas: rgb(253, 222, 184);
$color_textos:  rgb(90, 50, 1);
$color_cards: green;
$font1:  'Nanum Gothic', sans-serif;
$font2: 'Roboto Slab', serif;
$font3:  'Nunito Sans', sans-serif;
$resaltador: rgb(255, 187, 0);
$sombra: 0px 0px 20px rgba(0, 0, 0, 0.3);

